<div class="container">
    <mat-card *ngFor="let product of products">
        <div class="image-item">
            <img [src]="product.image" alt="../../assets/no-image.png">
        </div>
        <div class="description-field">
            <h1>{{product.title}}</h1>
            <div>Developed by {{product.developer}}</div>
            <div>Published by {{product.publisher}}</div>
            <div><i>Release Date: {{product.releaseDate | date }}</i></div>
        </div>
        <div class="description">
            <div><i>{{product.description}}</i></div>
            <div style="text-align: right;">
                <button mat-icon-button (click)="edit(product)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-raised-button color="primary" (click)="buy(product.title)" *ngIf="product.price">
                    Buy now for {{product.price}}€
                </button>
            </div>
        </div>
    </mat-card>
</div>